@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

body {
    font-family: "Noto-Sans", sans-serif;
    color: #262626;
}

.content {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    margin-top: 25px;
}

header> .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: 400;
}

.social-links {
    width: 188px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    width: 32px;
    height: 32px;
    transition: ease-in;
    transition-duration: .2s;
}

.social-link:hover {
    width: 35px;
    height: 35px;
}

.social-link>img {
    width: 100%;
    height: 100%;
}
.presentation > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-info {
    margin: 0 auto;
    margin-top: 205px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-icon{
    width: 230px;
    height: 230px;
    margin-right: 36px;
}
.info-block {
 width: 394px;
}
.product-title{
    font-size: 72px;
    line-height: 98px;
    font-weight: 800;
}
.product-description{
    font-size: 24px;
    font-weight: 300;
    color: #737373;
}
.comming-soon-btn{
    width: 180px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #262626;
    border-radius: 25px;
    color: #262626;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.scroll-down{
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    margin-left: 30px;
}

.scroll-down-img{
    width: 45px;
    height: 60px;
}

.scroll-down>.text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    animation: scroll-down-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes scroll-down-animation {
    from {
        margin-left: 10px;
    }
    50% {
        margin-left: 15px;
    }
    to {
        margin-left: 10px;
    }
}

.scroll-down>.text>.main{
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
}
.scroll-down>.text>.second{
    font-size: 16px;
    font-weight: 300;
    color: #3E3E3E;
}

.features{
    margin-top: 300px;
}

.features_pages{
    height: 670px;
}

.features_pagination {
    font-family: "Noto-Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature{
    color: #BFBFBF;
    transition: ease-out;
    transition-duration: .25s;
    position: relative;
}

.feature:hover {
    cursor: pointer;
}

.feature-radiobtn{
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.divider{
    width: 2px;
    height: 40px;
    border-radius: 5px;
    background-color: #BFBFBF;
}

.back {
    stroke: #d3d3d3;
    stroke-width: 20px;
}

.front {
    stroke-linecap: round;
    stroke: #7ea1ff;
    stroke-width: 20px;
    /* Animates the stroke */
    stroke-dasharray: 565.48; /* (2 * PI * r) where r is 90 */
    stroke-dashoffset: 565.48; /* (565.48 * (100 - percentage) / 100) */
    transition: stroke-dashoffset 0.5s ease-in-out;
    /* Rotates the circle to start from the top */
    transform: rotate(-90deg);
    transform-origin: center;
}

.radial-text text {
    font-family: "Noto-Sans", sans-serif;
    width: 100px;
    line-height: 50px;
    font-size: 32px;
    font-weight: 300;
    fill: #6b6b6b;
}

.features_pages{
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
}

.feature-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: ease-out;
    transition-duration: .3s;
    opacity: 0;
}

#feature_sys{
    color: #3E3E3E;
}

#cpu-main-text, #ram-main-text, #gpu-main-text{
    transition: ease-in;
    transition-duration: .1s;
    pointer-events: none;
}

#cpu-percentage, #ram-percentage, #gpu-percentage{
    font-size: 28px;
    opacity: 0;
    transition: ease-out;
    transition-duration: .2s;
    pointer-events: none;
}